@using DataLayer
@using RahaAirline

@model IEnumerable<DataLayer.Flight>

@{
    ViewBag.Title = "جستجوی پرواز";
    Layout = "~/Views/Shared/_LayoutSearchFlight.cshtml";
}

<div class="col-lg-12">
    @{
        if (!User.Identity.IsAuthenticated)
        {
            <div style="text-align: center;">
                <a class="btn btn-info" href="/Account/Login">برای رزرو ابتدا وارد حساب کاربری خود شوید</a>
            </div>
        }

    }
    @{
        @*if (TempData["message"] != null)
        {
            <label>@TempData["message"]</label>
        }*@
        if (ViewBag.message != null)
        {
            <label>@ViewBag.message</label>
        } 
        else
        {
            <h3 style="text-align: center;">نتیجه ی جستجو</h3>
            <table class="table">

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FlightClass.FlightClassKind)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.From)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Destination)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CompanyName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Departure)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DepartureTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Capacity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        <label>*  تعداد مسافران</label>
                    </th>
                    <th>

                    </th>

                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.FlightClass.FlightClassKind
                        </td>
                        <td>
                            @item.From
                        </td>
                        <td>
                            @item.Destination
                        </td>
                        <td>
                            @item.CompanyName
                        </td>
                        <td>
                            @item.Departure
                        </td>
                        <td>
                            @item.DepartureTime
                        </td>
                        <td>
                            @item.Capacity
                        </td>
                        <td>
                            @item.Price.ToTooman()
                        </td>
                        <td>
                            <form action="/Flight/Payment/@item.FlightID">
                                <table>
                                    <tr>

                                        <td>
                                            @{
                                                if (@item.Capacity == 0)
                                                {
                                                    <h3>ظرفیت تکمیل </h3>
                                                }
                                                else
                                                {
                                                    <input type="number" min="1" name="passenger" id="passenger" placeholder="لطفا تعداد مسافران را انتخاب کنید" />
                                                }
                                            }
                                        </td>
                                        <td></td>

                                        <td>
                                            @{
                                                if (@item.Capacity != 0)
                                                {
                                                    <input type="submit" value="رزرو کنید" class="btn btn-primary py-3 px-5">
                                                }
                                            }
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </td>
                    </tr>
                                                }
            </table>
                                                }
    }

</div>