@model IEnumerable<DataLayer.Place>

@{
    ViewBag.Title = "Index";
}



<p>
    @Html.ActionLink("جدید", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Visit)
        </th> 
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="/PlaceImages/@item.Image" class="thumbnail" style="max-width: 120px" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Visit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>

        <td>
            @Html.ActionLink("ویرایش", "Edit", new {id = item.PlaceID}) |
            @*@Html.ActionLink("Details", "Details", new { id=item.PlaceID }) |*@
            @Html.ActionLink("حذف", "Delete", new {id = item.PlaceID})
        </td>
    </tr>
}

</table>
