@model IEnumerable<IdentitySample.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}



<p>
    @Html.ActionLink("جدید", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.UserName)*@
            نام کاربری
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.ActionLink("ویرایش", "Edit", new { id = item.Id }) |
                @Html.ActionLink("جزئیات", "Details", new { id = item.Id }) |
                @Html.ActionLink("حذف", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
