@model IdentitySample.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "کلمه عبور خود را فراموش کرده اید؟";
    Layout = "~/Views/Shared/_LayoutRegLog.cshtml";
}

<div class="wrap-login100">

    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary("", new { @class = "text-danger" })
        <span class="login100-form-logo">
            <i class="zmdi zmdi-landscape"></i>
        </span>

            <span class="login100-form-title p-b-34 p-t-27">
                کلمه عبور خود را فراموش کرده اید؟
            </span>
            <div class="wrap-input100 validate-input" data-validate="لطفا ایمیل را وارد کنید">
                <input class="input100" type="text" name="Email" placeholder="*ایمیل">
                <span class="focus-input100" data-placeholder="&#xf207;"></span>
            </div>



            <div class="container-login100-form-btn">

                <input type="submit" class="login100-form-btn" value="لینک ایمیل" />
            </div>
    }

</div>











@*<h2>@ViewBag.Title.</h2>

    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="لینک ایمیل" />
            </div>
        </div>
    }*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
